<div class="chatbox">
  <div class="messages">
    <h2>{{room}}</h2>
    <hr>
    <ul>
      <li *ngFor="let message of messages">
        {{ message }}
      </li>
    </ul>
    <!--<div *ngFor="let message of messages" [class.self]="message.self" class="message">-->
      <!--{{message.text}}-->
    <!--</div>-->
  </div>
  <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
    <div class="input-container form-group">
      <input type="text" formControlName="message" class="inputtext form-control" id="message">
      <button class="replyBtn">Send</button>
    </div>
  </form>
</div>
