/*video {*/
  /*max-width: 100%;*/
  /*height: 600px;*/
/*}*/
/*vg-player {*/
  /*max-width: 100%;*/
  /*height: 600px;*/
/*}*/
#myMedia {
  width: 70%;
  height: auto;
}
.testmargin {
  margin-left: 100px;
  margin-top: 100px;
}
li {
  cursor: pointer;
}

li.selected {
  font-weight: bold;
}
