<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="../styles.css" /> -->
<!-- </head>
<body>
    <div id='chat'>
        <div id="chat-window">
            <div id="output">

            </div>
        </div>
        <input id="handle" type="text" placeholder="Handle" />
        <input id="message" type="text" placeholder="Message" />
        <button id="send" (click)="OnSend()">Send</button>
    </div>
</body>
</html> --> 
<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id = "chat-box">
        <div id = "chat-message" *ngFor="let message of messages">
            {{message}}
        </div> 
    </div>
      <br>
    
        <input type="text" #msgInput name="" value="" size="80">
        <button (click)="sendMsg(msgInput.value)" size="20">Send</button>
    
</body>
</html> -->
<html>
<head>
	<title>Chat Design</title>
</head>
<body>
	<div class="wrapper">
		<div class="chat-box">
			<div class="chat-head">
				<h2>Chat Box</h2>
			</div>
			<div class="chat-body">
				<div class="msg-insert" *ngFor="let message of messages">
                <p class="name"><b>{{ name }}:</b></p><div class="msg-receive">{{ message }}</div>
                </div>
            </div>
                <div class="chat-form">
                    <input type="text" #msgInput name="" value="" onfocus="this.value=''" (keydown.enter)="sendMsg(msgInput.value)">
                    <button (click)="sendMsg(msgInput.value)">Send</button>
                </div>
			</div>
		</div>
	
</body>
</html>



