<vg-player>
  <vg-buffering></vg-buffering>

  <!--<vg-controls>-->
  <!--<vg-quality-selector *ngIf="bitrates"-->
  <!--(onBitrateChange)="setBitrate($event)"-->
  <!--[bitrates]="bitrates">-->
  <!--</vg-quality-selector>-->
  <!--</vg-controls>-->
  <video #myMedia
         [vgMedia]="myMedia"
         [vgDash]="stream.source"
         [vgHls]="stream.source"
         (onGetBitrates)="dashBitrates = $event"
         id="my-video"
         type="video/mp4"
         controls
         crossorigin>
  </video>
</vg-player>
